<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mainnamespace.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Mainnamespace.My.MySettings.SqlConnectionstring" connectionString="Data Source=db.dav-systems.com,58144;Initial Catalog=JusticeDB21;Persist Security Info=True;User ID=sa;Password=D0kt0rNifari0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <membership defaultProvider="MySqlMembershipProvider">
        <providers>
          <clear/>
          <add name="MySqlMembershipProvider" connectionStringName="Mainnamespace.My.MySettings.SqlConnectionstring" applicationName="\" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </providers>
      </membership>
      <roleManager enabled="true" defaultProvider="MySqlRoleManager">
        <providers>
          <clear/>
          <add name="MySqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="Mainnamespace.My.MySettings.SqlConnectionstring" applicationName="\"/>
        </providers>
      </roleManager>
    </system.web>
    <system.diagnostics>
      <sources>
        <!-- This section defines the logging configuration for My.Application.Log -->
        <source name="DefaultSource" switchName="DefaultSwitch">
          <listeners>
            <add name="FileLog"/>
            <!-- Uncomment the below section to write to the Application Event Log -->
            <!--<add name="EventLog"/>-->
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="DefaultSwitch" value="Information"/>
      </switches>
      <sharedListeners>
        <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
        <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
        <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
      </sharedListeners>
    </system.diagnostics>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
    </runtime>
    <system.serviceModel>
      <bindings/>
      <client/>
    </system.serviceModel>
    <userSettings>
      <Mainnamespace.My.MySettings>
        <setting name="Connection" serializeAs="String">
          <value />
        </setting>
        <setting name="Key1" serializeAs="String">
          <value>11111111</value>
        </setting>
        <setting name="Key2" serializeAs="String">
          <value>11111111</value>
        </setting>
        <setting name="Language" serializeAs="String">
          <value>hy-AM</value>
        </setting>
        <setting name="intSystemType" serializeAs="String">
          <value>0</value>
        </setting>
      </Mainnamespace.My.MySettings>
    </userSettings>
  </configuration>
