<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Justice.Converter.Properties.Settings.JusticeDB2ConnectionString"
            connectionString="Data Source=.\SQL2008;Initial Catalog=JusticeDB2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>