<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Justice.Questionary.Data.Properties.Settings.JusticeDB2ConnectionString"
            connectionString="Data Source=db.dav-systems.com,58144;Initial Catalog=JusticeDB2;Persist Security Info=True;User ID=sa;Password=D0kt0rNifari0"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>